html {
	background-color: rgb(33, 4, 42);
}

header {
	background-color: rgb(59, 198, 245);
}

.user-selector select {
	background-color: wheat;
}

.user-selector select:hover {
	background-color: lightgray;
}

.user-selector select:focus {
	background-color: lightgray;
}

div#debt-list .debt {
	background-color: lightblue;
	color: black;
}

div.debt div.buttons button {
	background-color: wheat;
}

div.debt div.buttons button:hover {
	background-color: lightgray;
}

div.debt .card-name {
	border-bottom-color: black;
}

.button-with-border {
	border-color: black;
}