body {
	margin: 0;
}

.header-spacer {
	height: 6rem;
}

header {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: right;
	height: 6rem;

	position: fixed;
	top: 0px;
	width: 100%;
}

header div.title {
	font-size: 36pt;
	min-width: max-content;
	flex-grow: 1;
	text-align: center;
}

header div.title a {
	text-decoration: none;
	color: inherit;
}

.user-selector select {
	font-size: 36pt;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-align: center;
}

.user-selector select:focus {
	outline: none;
}

section {
	height: calc(100vh - 6rem);
}

section div#main {
	overflow-y: auto;
	touch-action: pan-y;
	height:100%;
}


div#debt-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	padding: 1rem;
}

div.debt {
	width: 300px;
	min-width: min-content;
	border-radius: 0.5rem;
	padding: 1rem;
}

div.debt .card-title {
	display: flex;
	justify-content: left;
	align-items: center;
}

div.debt .card-name {
	font-size: 36pt;
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;

	width: auto;
	padding: 0 1rem;
	margin: 0 1rem;
	flex-grow: 1;
}

div.debt img.portrait {
	flex-basis: 0;
}

img.portrait {
	border-radius: 0.5rem;
}

div.debt div.summary {
	font-size: 22pt;
	margin-top: 1rem;
}

div.debt div.summary s.delta {
	font-size: 26pt;
	font-weight: 600;
}

div.debt div.buttons {
	margin-top: 1rem;
	display: flex;
	gap: 0.5rem;
	justify-content: right;
}

div.debt div.buttons button {
	cursor: pointer;
	padding: 0.5rem;
	font-size: 18pt;
	border-radius: 0.5rem;
}

.button-with-border {
	border-width: 1px;
	border-style: solid;
	transition: background-color 150ms ease-out;
}
