body {
	margin: 0;
}

img.portrait {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}

body section {
	height: calc(100vh - 8rem);
}

body section header {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	height: 8rem;

	padding-right: 3rem;
	padding-left: 3rem;
}

header div.header-title {
	font-size: 4rem;
	min-width: max-content;
	flex-grow: 1;
	text-align: center;
}

header div.header-title a {
	text-decoration: none;
	color: inherit;
}

header .user-selector select {
	font-size: 4rem;
	padding: 0.5rem;
	text-align: center;
	border: none;
}

header .user-selector select:focus {
	outline: none;
}

body section main {
	overflow-y: auto;
	touch-action: pan-y;
	height:100%;
	margin: auto;
}

#debt-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
	padding: 3rem;
}

div.debt {
	width: 100%;
	min-width: min-content;
	padding: 1rem;
	align-items: center;

	display: grid;
	row-gap: 2rem;
}

div.debt .card-title {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 2rem;

	grid-row: 1;
	grid-column: 1;
}

.card-title .name {
	font-size: 3.5rem;
	font-style: italic;
}

div.debt div.card-summary {
	font-size: 3.5rem;
	text-align: right;
	
	grid-row: 2;
	grid-column: 1;
}

div.card-summary s {
	text-decoration: none;
}

div.card-summary s.summary-amount {
	font-weight: bolder;
}

div.debt div.card-buttons {
	display: flex;
	gap: 1rem;
	justify-content: right;
	align-items: center;
	
	grid-column: 2;
	grid-row: span 2;
}

div.debt div.card-buttons button {
	cursor: pointer;
	font-size: 2rem;
	width: min-content;

	background: none;
	padding: .3em;
	border: 1px solid black;
}
