
body section {
    height: calc(100vh - 5rem);
}

body section header {
    height: 5rem;
}

header .user-selector select {
    font-size: 2rem;
}

body section main {
    max-width: 1000px;
}

#debt-list {
    padding: 1.5rem;
    gap: 1.5rem;
}
.card-title .name {
    font-size: 3rem;
}
div.debt div.card-summary {
    font-size: 3rem;

    grid-row: 1;
    grid-column: 2;
}
div.debt div.card-buttons {
    grid-row: 1;
    grid-column: 3;
}
div.debt div.card-buttons button {
    font-size: 4rem;
}
