<div class="debt">
	<div class="card-title">
		<img class="portrait" src="https://picsum.photos/seed/0{{upn}}/200">
		<div class="name">{{upn}}</div>
	</div>
	<div class="card-summary">
		<s class="summary-text">{{summarytext}}</s>
		<s class="summary-amount">{{summaryamount}}</s>
	</div>
	<div class="card-buttons">
		<button class="add-button" onclick='EditMeal("{{upn}}", "{{whoami}}", 1)'>
			<i class="fa-solid fa-plus"></i>
		</button>
		<button class="subtract-button" onclick='EditMeal("{{whoami}}", "{{upn}}", 1)'>
			<i class="fa-solid fa-minus"></i>
		</button>
	</div>
</div>
